*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    } 
    body{
        background-color: blueviolet;
        padding: 0;
        margin: 0;
    }
    .container{
        background-color: brown;
        position: sticky;
        display: flex;
        flex-direction: column;           
    }
    header{
        background-color: cadetblue;  
    }  
    .content{
        background-color: cornflowerblue;
        display: flex;
    }
    nav{
        background-color: darkblue;
        flex-shrink: 0;
    }
    main{
        background-color: darkolivegreen;
        flex-grow: 1;
        text-align: center;
    }
    textarea{
        background-color: darkviolet;
        resize: vertical;
        width: 100%;
        
    }
    aside{
        background-color: fuchsia;
    }
    footer{
        background-color: grey;
    }