*{
    margin: 0;
    padding: 0;
}
body{
    
}
.container{
    display: flex;
    flex-direction: column;
}
header{
    border-bottom: solid gray 1px;
    padding-left: 20px;
    height: 100px;
}
footer{
    border-top: solid gray 1px;
    text-align: center;
    flex-grow: 1;
}
.content{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}
.content main{
    flex-grow: 1;
}
.content nav{
    border-right: solid grey 1px;
    padding-left: 20px;
    padding-top: 20px;
}
.content aside{
    border-left: solid grey 1px;
}
nav, aside{
    height: 100%;
    flex-basis: 100px;
    flex-shrink: 0;
}
ul{
    list-style: none;
}
footer{
    padding: 20px;
}
textarea{
    background-color: burlywood;
    color: brown;
    padding: 20px;
    width: 100%;
    font:30px;
    font-weight: bold;
}